*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.d
{
text-align: center;
}
.p{
text-align: center;
}
.top{
  text-align: center;
  float: left;
}
.sidebar{
  background-color:rgb(100, 100, 178);
  color: white;
  width: fit-content;
  top:0;
  bottom: 0;
  left: 0;
  position: fixed;
  padding: 15px 10px;
  transition: transform 0.3s;
  transform: translateX(-100%);
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10%;
}
.sidebar.open {
  transform: translateX(0);
}
.top button{
  font-weight: 500;
}
.b{
  float: left;
  display: flex;
  align-items: center;
}
.t{
  justify-content: center;
  display: flex;
  background-color: rgb(100, 100, 178);
}
.link{
  color: white;
  padding: 10px 15px;
  margin-bottom: 40px;
}
.link:hover {
  background-color: lightskyblue;
  color: black;
}

.active {
  background-color: lightskyblue;
  color: black;
}