*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.Sidebar{
  background-color:rgb(100, 100, 178);
  color: white;
  width:200px;
  top:0;
  bottom: 0;
  left: 0;
  position: fixed;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10%;
}
.S{
  display: flex;
  flex-direction: column;
  gap:60vh;
}
.Sb{
  background-color: rgb(101, 172, 172);
  border-radius: 5px 5px;
  color: black;
  padding: 10px;
}
.link{
  color: white;
  padding: 10px 15px;
  margin-bottom: 40px;
}
.link:hover {
  background-color: lightskyblue;
  color: black;
}

.active {
  background-color: lightskyblue;
  color: black;
}
.a{
  margin-top: 40%;
}
.addimage{
  text-align: center;
  background-color: rgb(19, 19, 130);
  height:200px;
  width:200px;
  cursor: pointer;
  color:white;
  margin: 5% auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b{
  text-align: center;
  float: right;
}
.addimage label{
  margin-top: 20px;
}
.preview-image {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 20px auto;
}
